:root {
  --border-color: #ddd;
  --border-radius: 8px;
  --section-padding: 20px;
  --popup-bg-color: white;
  --btn-padding: 10px 15px;
  --btn-margin: 5px 5px;
  --btn-border-radius: 4px;
  --btn-hover-opacity: 0.8;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --background-color-light: #f9f9f9;
  --background-color-dark: #f4f4f4;
  --font-weight-bold: bold;
  --input-padding: 8px;
  --margin-bottom-space: 20px;
  --default-transition: background-color 0.3s;
  --button-color-primary: rgba(128, 50, 50, 0.6);
  --button-color-primary-hover: rgba(128, 50, 50, 0.8);
  --button-color-secondary: rgba(51, 51, 51, 0.6);
  --button-color-secondary-hover: rgba(51, 51, 51, 0.8);
  --text-color-white: white;
  --button-color-danger: #dc3545;
  --button-color-danger-hover: #bd2130;
  --button-color-info: #007bff;
  --button-color-info-hover: #0056b3;
  #--table-margin: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* Adjust height as needed to fill the container or screen */
}

.spinner {
  border: 6px solid var(--background-color-light); /* Light grey, using a variable for integration */
  border-top: 6px solid var(--button-color-primary); /* Use primary button color for the spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}


/* General Styles for Layout */
.load-optimization-container, .menu-management-container {
  display: flex;
  flex-direction: column;
  padding: var(--section-padding);
  gap: 20px;
}

.build-order-container {
  display: flex;
  flex-direction: row; /* Change direction to row */
  align-items: flex-start; /* Align items at the start of the container */
}

.cart-summary {
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center content vertically */
  align-content: center;
  min-height: 100px;
  flex-grow: 1; /* This ensures it can expand to fill available space, aiding centering */
  height: auto; /* This could be adjusted based on your specific needs */
  margin-left: 20px;
  margin-right: 20px;
 
}


/* Grid Layout for Load Optimization */
.load-optimization-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
}

.load-optimization-container > h2, .form-section, .cargo-list-section, .route-data-section {
  text-align: center;
  grid-column: 1 / -1;
}

.form-section, .cargo-list-section, .route-data-section {
  grid-row: 2;
}

.cargo-list-section {
  overflow-y: auto;
  max-height: 90vh;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  background-color: #FFF8DC; /* Specific for aesthetic */
}

th, td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--background-color-dark);
}

tr:nth-child(even) {
  background-color: var(--background-color-light);
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background: var(--popup-bg-color);
  padding: var(--section-padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 80%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

/* Forms and Buttons */
.form-group, .popup-inner label, .customer-info-table label {
  display: block;
  font-weight: var(--font-weight-bold);
  margin-bottom: 5px;
}

.form-group input, .form-group select, 
.popup-inner input[type="text"],
.popup-inner input[type="email"],
.popup-inner input[type="number"],
.popup-inner input[type="date"],
.popup-inner select,
.customer-info-table input[type="text"],
.customer-info-table input[type="email"],
.customer-info-table input[type="date"] {
  width: 90%;
  padding: var(--input-padding);
  margin-top: 5px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

/* Button Styles */
button, .popup-inner .popup-ok-btn, .popup-inner .popup-cancel-btn, .add-button {
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  color: var(--text-color-white);
  border: none;
  transition: var(--default-transition);
  margin: var(--btn-margin);
}

button:hover, .popup-inner .popup-ok-btn:hover, .popup-inner .popup-cancel-btn:hover, .add-button:hover {
  opacity: var(--btn-hover-opacity);
}

.add-button, .submit-btn {
  background-color: var(--button-color-primary);
}

.add-button:hover, .submit-btn:hover {
  background-color: var(--button-color-primary-hover);
}

.edit-btn {
  background-color: var(--button-color-secondary);
}

.edit-btn:hover {
  background-color: var(--button-color-secondary-hover);
}

.delete-btn {
  background-color: var(--button-color-danger);
}

.delete-btn:hover {
  background-color: var(--button-color-danger-hover);
}

.popup-inner .popup-ok-btn {
  background-color: var(--button-color-info);
}

.popup-inner .popup-ok-btn:hover {
  background-color: var(--button-color-info-hover);
}

/* Section and Container Styles */
.customer-info-section, .build-cart-section, .cart-summary {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  padding: var(--section-padding);
  margin-bottom: var(--margin-bottom-space);
}

/* Miscellaneous Styles */
.total-cost, .item-list li, .submitButton button {
  font-weight: var(--font-weight-bold);
}

.input-quantity, .actions-cell {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operational-overview-container {
  padding: var(--section-padding);
}

.overview-content {
  margin-top: var(--margin-bottom-space);
}

.overview-tables {
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: 48%; /* Ensure the tables take less than half the width each */
}

.overview-summary {
  margin-bottom: var(--margin-bottom-space);
}

.overview-top-items,
.overview-pick-plans,
.overview-routes {
  margin-bottom: var(--margin-bottom-space);
}

